.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-32);
  min-height: 100svh;
  padding: var(--spacing-48) var(--spacing-gap) var(--spacing-48);

  @include mq(md) {
    padding: var(--spacing-32) var(--spacing-gap);
  }
}

.heading {
  text-transform: uppercase;
}

.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--spacing-gap);
  width: 100%;

  @include mq(md) {
    grid-template-columns: 1fr;
  }
}
