@use '../functions/vw' as *;
@use "../mixins//breakpoints" as *;

@mixin typography($font-size, $line-height, $letter-spacing: 0, $text-transform: "normal", $font-family: var(--font-family-base)) {
  font-size: vw($font-size);
  line-height: $line-height;
  font-family: $font-family;

  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }

  @if $text-transform != "normal" {
    text-transform: $text-transform;
  }

  @include mq(md) {
    font-size: vw($font-size + 6);
  }

  @include mq(sm) {
    font-size: vw($font-size - 2);
  }
}

@mixin accentXXL {
  @include typography(132, 0.88, -0.06em, "normal", var(--font-family-script));
}

@mixin accentM {
  @include typography(110, 0.88, -0.06em, "normal", var(--font-family-script));
}

@mixin accentS {
  @include typography(60, 0.88, -0.06em, "normal", var(--font-family-script));
}

@mixin h2 {
  @include typography(48, 1, -0.05em, "normal");
}

@mixin h3 {
  @include typography(36, 1.1, -0.04em, "normal");
}

@mixin h4 {
  @include typography(24, 1.12, -0.04em, "normal");
}

@mixin h5 {
  @include typography(24, 1.12, -0.04em, "normal");
}

@mixin btnS {
  @include typography(16, 1, 0.02em, uppercase);
  font-weight: 600;
}

@mixin btnM {
  @include typography(14, 1, 0.02em, uppercase);
  font-weight: 600;
}

@mixin captionXL {
  @include typography(28, 1.08, -0.05em);
}

@mixin captionM {
  @include typography(12, 1, 0.02em, uppercase);
}

@mixin captionXS {
  @include typography(10, 1.32, 0.02em, uppercase);
}

@mixin body-paragraph {
  @include typography(18, 1.32, -0.02em);
}

@mixin body-paragraph-accent {
  @include typography(18, 1.32, -0.02em);
}

@mixin body-paragraph-secondary {
  @include typography(16, 1.3, -0.02em);
}
