.root {
  position: relative;
}

.block {
  position: fixed;
  z-index: var(--z-transition-layout);
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  --transition-blur: 0px;
  background: transparent;
  backdrop-filter: blur(var(--transition-blur));
  -webkit-backdrop-filter: blur(var(--transition-blur));
  pointer-events: none;
  will-change: backdrop-filter;
}