.root {
  position: relative;
}

.block {
  --transition-progress:0;
  position: fixed;
  z-index: var(--z-transition-layout);
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  background: black;
  pointer-events: none;
  transform: scaleY(var(--transition-progress));
  transform-origin: top;
}