@mixin colors {
  /* Colors */
  --c-white: #FAF0E6;
  --c-sand: #B3A696;
  --c-namibia: #7B6B5E;
  --c-lacri: #2A2E1F;

  /* Theme colors */
  --main-background-color: var(--c-white);
  --main-text-color: var(--c-lacri);
}