.root {
}

.size {
  &-primary {
    @include body-paragraph();
  }

  &-secondary {
    @include body-paragraph-secondary();
  }

  &-small {
    font-size: vw(13);
    line-height: 1;
    letter-spacing: 0.02em;

    @include mq(sm) {
      font-size: vw(11);
    }
  }
}