.root{
    background-color: black;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: vw(32);
    
    padding: 0 vw(32);

    @include mq(md){
        grid-template-columns: 1fr;
    }

}

.list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: vw(16);
    padding: vw(86) 0;

    @include mq(lg){
        grid-template-columns: repeat(2, 1fr);
    }

    @include mq(sm){
        grid-template-columns: 1fr;
    }
}

.imageGridWrapper{
    border: 1px solid black;
    border-radius: vw(8);
    overflow: hidden;

    background-color: gray;

    @include transition((border));
}

.activeHover{
    border: 1px solid white;
}

.image {


    height: vw(150);

    img{
        transform: translateY(calc(20% * var(--parallax-scroll-progress))) scale(1.5);
    }

    @include mq(lg){
        height: vw(200);
    }

    @include mq(md){
        height: vw(250);
    }
}

.imageHover{
    position: sticky;
    top: 0;
    height: 100svh;

    @include mq(md){
        display: none;
    }
}

.currentImage{
    height: 100%;

    img{
        object-fit: contain;
    }
}

.imagePopup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100svh;

    padding: var(--spacing-32);

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    @include transition((opacity));
}

.crossBtn {
    position: absolute;
    top: var(--spacing-32);
    right: var(--spacing-32);
    z-index: 1;
    transform: scale(1);

    @include hover{
        transform: scale(1.5);
    }
}

.popupImage{
    position: relative;
    z-index: 1;
    height: 80svh;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100svh;

    backdrop-filter: blur(30px);
}

.crossBtn, .popupImage, .overlay{
    opacity: 0;

    @include transition((opacity, transform));
}

.openPopup{
    pointer-events: all;

    .crossBtn, .popupImage, .overlay{
        opacity: 1;
    }
}