.root {
  position: relative;
  display: flex;
  flex-direction: column;    
  // align-items: center;

  gap: var(--spacing-24);
  padding: var(--spacing-section) var(--spacing-gap) ;
}

.title {
  text-transform: uppercase;
  max-width: 80vw;
}

.text {
  max-width: 64%;
  opacity: 0.8;
  font-size: vw(20);

  @include mq(md){
    max-width: 100%;
  }

  @include mq(sm) {
    font-size: vw(18);
  }
}
