.root {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  &::before, 
  &::after {
    content: '';
    width: vw(10);
    height: vw(20);

    border: 1px solid white;
  }

  &::before{
    border-right: none;
  }

  &::after{
    border-left: none;
  }
}
