.root {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-20) var(--spacing-48);    
  color: var(--c-white);

  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-size: vw(16);
  background-color: rgb(250 240 230 / 92%);
  color: var(--main-text-color);

  transform: translateY(-100%);

  @include transition((background-color,transform));

  &.filled {
    background-color: var(--background-surface-page);
  }

  @include mq(md){
    padding: var(--spacing-20); 
  }

  @include mq(sm) {
    font-size: vw(14);
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.item {
  display: flex;
  align-items: center;

  &:nth-child(2):not(:last-child) {
    justify-content: center;

    @include mq(md) {
      justify-content: flex-end;
    }
  }

  &:last-child {
    justify-content: flex-end;

    @include mq(md) {
      display: none;
    }
  }
}

.wrapper{
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-24);

  padding: var(--spacing-48) var(--spacing-16) var(--spacing-24);

  width: 100%;
  height: 100%;
}

.links{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--spacing-24);

  .link{
    font-size: vw(28);
    font-weight: 300;

    @include mq(sm) {
      font-size: vw(26);
    }
  }
}

.contactPopup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100svh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--c-white);

    // Закрыто / готовность к открытию: скрыто справа
    clip-path: inset(0% 100% 0% 0%);

    @include transition((clip-path));

    &.noTransition {
      transition: none;
    }
}

.crossBtn {
    position: absolute;
    top: var(--spacing-20);
    right: var(--spacing-20);
    z-index: 2;
    transform: scale(2);
    @include transition((opacity, transform));
}

.openPopup {
    clip-path: inset(0% 0% 0% 0%);
}

.closingPopup {
    // Закрытие влево
    clip-path: inset(0% 0% 0% 100%);
}

.top{
  display: flex;
  justify-content: space-between;

  @include mq(lg){
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--spacing-56);
  }
}

.social{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);

  text-transform: uppercase;

  @include mq(lg){
    flex-direction: row;    
    justify-content: center;    
    flex-wrap: wrap;
  }
}

.link{}

.alertText{
  font-size: vw(8);
  opacity: 0.5;

  @include mq(md){
    font-size: vw(10);
  }

  @include mq(sm) {
    font-size: vw(6);
  }
}

.viewHeader{
  transform: translateY(0%);
}

.hideM{
  @include mq(sm){
    display: none;
  }
}

.menuButton{
  display: none;

  @include mq(sm){
    display: block;

    @include btnS();
  }
}

.socialLinks{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.media{
  height: vw(330);
  width: vw(330);
  align-self: center;

  .image{
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
}

.linksWrapper{
  display: flex;
  justify-content: space-between;
  gap: var(--spacing-24);
}