.root {
  position: fixed;
  z-index: var(--z-header);
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--spacing-20) var(--spacing-48);    
  mix-blend-mode: difference;
  color: var(--c-white);

  font-family: var(--font-family-base);
  text-transform: uppercase;
  font-size: vw(16);
  background-color: #ffffff29; 
  backdrop-filter: blur(10px);

  transform: translateY(-100%);

  @include transition((background-color,transform));

  &.filled {
    background-color: var(--background-surface-page);
  }
}

.item {
  display: flex;
  align-items: center;

  &:nth-child(2):not(:last-child) {
    justify-content: center;

    @include mq(md) {
      justify-content: flex-end;
    }
  }

  &:last-child {
    justify-content: flex-end;

    @include mq(md) {
      display: none;
    }
  }
}

.wrapper{
  position: relative;
  z-index: 1;
  border: 1px solid var(--c-white);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: var(--spacing-32);

  width: 70vw;
  height: 70vh;

  background-color: #00000072;
  backdrop-filter: blur(70px);

  @include mq(md){
    width: 80vw;
  }
}

.contactPopup{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100svh;

    padding: var(--spacing-32);

    display: flex;
    align-items: center;
    justify-content: center;

    pointer-events: none;

    @include transition((opacity));
}

.crossBtn {
    position: absolute;
    top: var(--spacing-32);
    right: var(--spacing-32);
    z-index: 1;
    transform: scale(1);

    @include hover{
        transform: scale(1.5);
    }
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100svh;

    backdrop-filter: blur(30px);
}

.canvas{
    pointer-events: none !important;
  canvas, div {
    pointer-events: none !important;
  }
}

.crossBtn, .wrapper, .overlay{
    opacity: 0;

    @include transition((opacity, transform));
}

.openPopup {
    pointer-events: all;


    .crossBtn, .wrapper, .overlay{
        opacity: 1;
    }
}

.top{
  display: flex;
  justify-content: space-between;

  @include mq(lg){
    flex-direction: column-reverse;
    align-items: center;
    gap: var(--spacing-56);
  }
}

.image{
  width: 40vw;
  height: 55vh;

  @include mq(lg){
    width: 100%;
    height: 50dvh;
  }

  @include mq(sm){
    height: 30dvh;
  }
}

.social{
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);

  text-transform: uppercase;

  @include mq(lg){
    flex-direction: row;    
    justify-content: center;    
    flex-wrap: wrap;
  }
}

.link{
  position: relative;
  opacity: 0.75;

  width: max-content;

  @include transition((opacity));

  &::before{
    position: absolute;
    bottom: vw(-2);
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--c-white);
    transform: scaleX(0);
    transform-origin: right;
    @include transition((transform));
  }

  @include hover{
    opacity: 1;

    &::before{
      transform: scaleX(1);
      transform-origin: left;
    }
  }
}

.alertText{
  font-size: vw(8);
  opacity: 0.5;

  @include mq(md){
    font-size: vw(10);
  }
}

.viewHeader{
  transform: translateY(0%);
}