# Server
PRODUCTION_URL=
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
ENCRYPTION_KEY=

# Database
DATABASE_CLIENT=postgres
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET=

POSTGRES_USER=$DATABASE_USERNAME
POSTGRES_PASSWORD=$DATABASE_PASSWORD
POSTGRES_DB=$DATABASE_NAME

CLIENT_URL=http://localhost:3000/
PREVIEW_SECRET=

STRAPI_URL=