.root {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100svh;
  overflow: hidden;

  @include mq(md) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-40);
    align-items: center;
    height: auto;
  }
}

.media {
  position: relative;
  height: 100svh;
  overflow: hidden;
  background-color: var(--c-light-graphite);

  @include mq(md) {
    height: vw(400);
    width: vw(400);
    margin-top: 15svh;
    flex-shrink: 0;
  }

  @include mq(sm) {
    height: vw(330);
    width: vw(330);
  }
}

.image {
  width: 100%;
  height: 100%;

  @include mq(md){
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
  }
}

.content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing-24);
  padding: var(--spacing-48) var(--spacing-gap) var(--spacing-24);

  @include mq(md) {
    padding: 0 var(--spacing-gap);
    height: 100%;
    justify-content: flex-start; 
    text-align: center;
    width: 80%;
  }

  @include mq(sm){
    width: 100%;
  }
}

.title {
  text-transform: uppercase;
}

.text {
  width: vw(360);
  opacity: 0.8;

  @include mq(md){
    width: 100%;
  }
}

.social {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-16);
  margin-top: var(--spacing-16);
  text-transform: uppercase;

  @include mq(md){
    flex-direction: row;
    justify-content: center;
    gap: var(--spacing-40);
    margin-bottom: vw(120);
  }

  @include mq(sm){
    flex-direction: column;
    align-items: center;
  }
}

.link {
}

.alertText{
  position: absolute;
  bottom: var(--spacing-gap);
  left: var(--spacing-gap);

  opacity: 0.5;

  font-size: vw(12);

  @include mq(sm) {
    font-size: vw(10);
  }
}