.root {
  position: relative;
  padding: 0 var(--spacing-gap);
}

.groups {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
}

.item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  background-color: var(--c-light-graphite);
}

.gridFeatureStart {
  .item:first-child {
    grid-column: span 2;
    grid-row: span 2;
  }
}

.gridFeatureEnd {
  .item:last-child {
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;
  }
}

.image {
  width: 100%;
  height: 100%;

  img {
    transform: translate3d(
        0,
        calc(12% * var(--parallax-scroll-progress, 0)),
        0
      )
        scale(1.15);
  }
}
