.root {
  position: relative;
  padding: 0 var(--spacing-gap);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: var(--spacing-4);
  align-items: start;

  @include mq(md) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.item {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-color: var(--c-light-graphite);
}

.image {
  display: block;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
  height: 100%;
    object-fit: cover;
    transform: translate3d(
        0,
        calc(12% * var(--parallax-scroll-progress, 0)),
        0
      )
      scale(1.2);

    @include mq(md) {
      transform: scale(1);
    }
  }
}
